.btn-outline, .btn-secondary, .btn-primary {
  width: 308px;
  max-width: 90vw;
  height: 66px;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  font-family: inherit;
  position: relative;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}
.btn-outline:hover, .btn-secondary:hover, .btn-primary:hover {
  transform: scale(1.05);
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3170A;
  border: 2px solid #E3170A;
  color: #ffffff;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ACFE5;
  border: 2px solid #8ACFE5;
  color: #011827;
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-small {
  width: 180px;
  height: 44px;
  font-size: 16px;
}

@media screen and (max-width: 1279px) {
  .btn-nobtn {
    padding: 1rem;
    width: auto;
    height: auto;
    font-size: 16px;
    color: #36769D;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    margin-bottom: 2.5rem;
  }
}
.testimonials {
  padding: 1rem;
  margin: 0 auto;
  max-width: 55ch;
}
.testimonials img {
  width: 73px;
  height: 72px;
}
.testimonials article {
  gap: 1rem;
  display: flex;
}
.testimonials blockquote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 8px;
}
.testimonials p {
  font-size: 18px;
}
.testimonials article:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 950px) {
  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    padding: 3rem;
    gap: 1em;
  }
  .testimonials img {
    width: 96px;
    height: 96px;
  }
  .testimonials article {
    max-width: 55ch;
  }
  .testimonials article:nth-of-type(2) {
    display: flex;
  }
}
.header {
  background-color: #011827;
  color: #ffffff;
}

.head {
  display: flex;
  padding: 1.63rem 1.25rem 2.25rem 1.63rem;
  justify-content: flex-start;
  /* ESC logo */
  /* Hamburger menu */
}
.head .header-image {
  width: 128px;
  margin-right: 1.5rem;
}
.head .header-title {
  font-size: clamp(24px, 3.5vw, 40px);
  font-weight: 700;
  justify-self: flex-start;
  width: 10ch;
  line-height: 28px;
  align-self: center;
}
.head .btn-menu {
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(images/open.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  cursor: pointer;
  display: block;
  width: 51px;
  height: 51px;
  border: none;
  position: relative;
}

/* Hide menu on smaller screens */
nav {
  display: none;
}

@media (max-width: 950px) {
  nav {
    -webkit-animation: ul-appear 0.2s linear;
    animation: ul-appear 0.2s linear;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    place-content: center;
    z-index: 1;
    position: fixed;
    top: 0;
  }
  nav button.btn-menu-close {
    z-index: 100;
    position: fixed;
    right: 2.5rem;
    top: 2.5rem;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    border: none;
    background-size: 100%;
    cursor: pointer;
    -webkit-animation: ul-appear 0.2s linear backwards;
    animation: ul-appear 0.2s linear backwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  @-webkit-keyframes ul-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes ul-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes ul-grow {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes ul-grow {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
  nav ul {
    -webkit-animation: ul-appear 0.2s linear backwards;
    animation: ul-appear 0.2s linear backwards, ul-grow 0.2s backwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    display: block;
    position: relative;
    width: clamp(90vw, 95vw, 100vw - 2rem);
    height: clamp(90vh, 95vh, 100vh - 2rem);
    margin: 2rem;
    z-index: 1;
    background-color: #011827;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    gap: clamp(2rem, 8vh, 3rem);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  nav ul li a {
    font-size: 36px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
  }
  nav ul li a:hover {
    color: #8ACFE5;
  }
}
@media (min-width: 950px) {
  .head {
    /* Hide button on large screens */
  }
  .head .btn-menu {
    display: none;
  }
  .head .header-title {
    font-weight: 700;
    width: auto;
    align-self: flex-end;
    margin-bottom: 0.9rem;
  }
  /* Show menu on large screens */
  nav {
    display: block;
    position: relative;
    outline: none;
    width: 100%;
    height: auto;
    box-sizing: content-box;
    margin: 0 auto;
    z-index: 1;
    border: none;
    /* Hide button on large screens */
  }
  nav button.btn-menu-close {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
    padding: 0.75rem 1.375rem 1.375rem 1.375rem;
    gap: 7.1rem;
    display: flex;
    font-size: 24px;
    list-style: none;
  }
  nav ul li {
    font-weight: 700;
    color: #ffffff;
  }
  nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  nav ul li a:hover {
    color: #8ACFE5;
  }
}
/* Because the header looked weird on really tiny screens */
@media screen and (max-width: 393px) {
  .header-image {
    max-width: 30vw !important;
  }
  .header-title {
    font-size: clamp(20px, 1vw, 24px) !important;
  }
}
@media screen and (max-width: 1279px) {
  .top .btn-secondary {
    margin-top: 2rem;
  }
}
.top .top-picture {
  aspect-ratio: 240/137;
}

.story {
  background-color: #011827;
  color: #ffffff;
  font-size: clamp(24px, 5vw, 28px);
  padding: 10vmax 1.25rem;
  text-align: center;
  line-height: 32.81px;
}
.story .story-text {
  max-width: 40ch;
  margin-inline: auto;
}
.story .btn-outline {
  margin: 3rem auto 0rem;
}

.play {
  display: grid;
  grid-template-columns: 1fr;
}
.play .play-picture {
  margin: 0 auto;
}
.play .play-picture img {
  aspect-ratio: 32/23;
  max-width: 100%;
}
@media screen and (max-width: 479px) {
  .play .play-picture img {
    aspect-ratio: 16/10;
  }
}
.play .play-text {
  margin: 0 auto;
  max-width: 70ch;
}
.play .play-text p {
  padding: 1.25rem;
  font-size: 24px;
}
.play .play-text .play-header {
  padding: 2rem 1.25rem 1rem;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 700;
}
.play .btn-primary {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

footer {
  background-color: #011827;
  color: #ffffff;
  font-size: 18px;
}
footer .container {
  margin-top: 10vmax;
  padding: 10vmax 7% 12vmax;
}
footer .container .footer-header {
  margin: 2rem 0px 0.5rem;
  font-weight: 700;
  font-size: inherit;
}
footer .container p {
  max-width: 75vw;
}
footer .container li {
  list-style: none;
}
footer .container li a {
  text-decoration: none;
  color: inherit;
}
footer .container li a:hover {
  color: #8ACFE5;
}
footer .container li:nth-of-type(3) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1280px) {
  footer .container {
    display: flex;
  }
  footer .container section:first-of-type {
    flex: 2 0;
    margin-right: 30%;
  }
  footer .container section {
    flex: 1 0;
  }
  .play {
    grid-template: repeat(2, 460px)/repeat(2, 640px);
    width: 100%;
    justify-content: center;
  }
  .play .play-text {
    padding: 2em;
  }
  .play .play-picture:nth-of-type(even) {
    order: 1;
  }
  .top {
    display: grid;
    grid-template-areas: "header header" "button1 button2";
  }
  .top .top-picture {
    grid-area: header;
    max-width: 1280px;
    margin: auto;
    aspect-ratio: 320/117;
  }
  .top .btn-secondary,
.top .btn-primary {
    grid-area: button2;
    margin: 0 0.5rem;
    transform: translateY(-50%);
  }
  .top .btn-primary {
    justify-self: end;
    grid-area: button1;
  }
}
.popular-challenges .challenges-header {
  font-weight: 400;
  font-size: clamp(32px, 3vw, 36px);
  padding: 6.5rem 2rem 0.5rem 1.4rem;
}
.popular-challenges .challenges-collection {
  padding: 2rem 3rem;
  display: flex;
  width: auto;
  gap: 2rem;
  flex: 1 0;
  overflow: scroll;
  -ms-flex-negative: 1 0 auto;
  flex: 1 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popular-challenges .challenges-collection::-webkit-scrollbar {
  display: none;
}
.popular-challenges .challenge {
  flex-shrink: 0;
  width: 363px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.popular-challenges .challenge img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  aspect-ratio: 240/137;
}
@media screen and (max-width: 479px) {
  .popular-challenges .challenge img {
    aspect-ratio: 121/73;
  }
}
.popular-challenges .challenge-header-small {
  padding: 1rem 1rem 0rem 1.1rem;
  font-size: 28px;
  font-weight: 400;
}
.popular-challenges .info {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  padding-inline: 1rem;
  justify-content: flex-start;
}
.popular-challenges .info .rating .star-empty, .popular-challenges .info .rating .star-filled {
  display: inline-block;
  height: 26px;
  width: 23px;
}
.popular-challenges .info .rating .star-filled {
  background: url(images/star-filled.svg) no-repeat center center;
}
.popular-challenges .info .rating .star-empty {
  background: url(images/star-empty.svg) no-repeat center center;
}
.popular-challenges p:not(.info) {
  font-size: 18px;
  padding: 1rem 1rem;
}
.popular-challenges .btn-small {
  float: right;
  margin: 0.7rem 1rem;
}

@media screen and (min-width: 1279px) {
  .popular-challenges {
    display: grid;
    grid-template-areas: "header header" "middle middle" "button1 button2";
  }
  .popular-challenges .challenges-header {
    grid-area: header;
    margin: auto;
    font-size: 36px;
    text-align: center;
    padding: 2em 2em 1em 2em;
  }
  .popular-challenges .challenges-collection {
    grid-area: middle;
    justify-content: center;
    padding: 2rem 3rem;
    display: flex;
    width: auto;
    gap: 2rem;
    flex: 1 0;
  }
  .popular-challenges .challenges-collection ~ .btn-secondary,
.popular-challenges .challenges-collection ~ .btn-primary {
    margin: 3rem 0.5rem 4rem;
  }
  .popular-challenges .btn-primary {
    grid-area: button1;
    justify-self: end;
  }
  .popular-challenges .info {
    justify-content: space-between;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}