.header {
  background-color: $primary;
  color: $secondary;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.63rem 1.25rem 2.25rem 1.63rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;


  /* ESC logo */
  .header-image {
    width: 128px;
    margin-right: 1.5rem;
  }

  .header-title {
    font-size: clamp(24px, 3.5vw, 40px);
    font-weight: 700;
    justify-self: flex-start;
    width: 10ch;
    line-height: 28px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  /* Hamburger menu */
  .btn-menu {
    outline: none;
    margin: 0;
    padding: 0;

    background-color: transparent;
    background-image: url(images/open.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    cursor: pointer;
    display: block;
    width: 51px;
    height: 51px;
    border: none;
    position: relative;

  }
}

/* Hide menu on smaller screens */
nav {
  display: none;
}

@media (max-width: 950px) {

  nav {
    -webkit-animation: ul-appear .2s linear;
    animation: ul-appear .2s linear;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    place-content: center;
    z-index: 1;
    position: fixed;
    top: 0;

    button.btn-menu-close {
      z-index: 100;
      position: fixed;
      right: 2.5rem;
      top: 2.5rem;
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-image: url(images/close.svg);
      background-repeat: no-repeat;
      border: none;
      background-size: 100%;
      cursor: pointer;
      -webkit-animation: ul-appear 0.2s linear backwards;
      animation: ul-appear 0.2s linear backwards;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;

    }


    @-webkit-keyframes ul-appear {
      from {
        opacity: 0;
      }

      to {
        opacity: 1
      }
    }


    @keyframes ul-appear {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes ul-grow {
      from {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
      }

      to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes ul-grow {
      from {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
      }

      to {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    ul {
      -webkit-animation: ul-appear 0.2s linear backwards;
      animation: ul-appear 0.2s linear backwards, ul-grow 0.2s backwards;
      -webkit-animation-delay: 0.2s;
      animation-delay: .2s;
      display: block;
      position: relative;
      width: clamp(90vw, 95vw, calc(100vw - 2rem));
      height: clamp(90vh, 95vh, calc(100vh - 2rem));
      margin: 2rem;
      z-index: 1;
      background-color: $primary;
      @include flex;
      list-style: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: clamp(2rem, 8vh, 3rem);

      -webkit-box-sizing: content-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);


      li a {
        font-size: 36px;
        text-decoration: none;
        color: $secondary;
        font-weight: 700;

        &:hover {
          color: $accent3;
        }
      }
    }
  }
}


@media (min-width: 950px) {

  .head {

    /* Hide button on large screens */
    .btn-menu {
      display: none;
    }


    .header-title {
      //      font-size: 40px;
      font-weight: 700;
      width: auto;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-bottom: .9rem;
    }
  }

  /* Show menu on large screens */
  nav {
    display: block;
    position: relative;
    outline: none;
    width: 100%;
    height: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    z-index: 1;
    border: none;

    /* Hide button on large screens */
    button.btn-menu-close {
      display: none;
    }

    ul {
      @include flex;
      height: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0.75rem 1.375rem 1.375rem 1.375rem;
      gap: 7.1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 24px;
      list-style: none;

      li {
        font-weight: 700;
        color: $secondary;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: $accent3;
          }
        }
      }
    }
  }
}

/* Because the header looked weird on really tiny screens */
@media screen and (max-width: 393px) {
  .header-image {
    max-width: 30vw !important;
  }

  .header-title {
    font-size: clamp(20px, 1vw, 24px) !important;
  }
}