.top {
  .btn-secondary {
    @media screen and (max-width: 1279px) {
      margin-top: 2rem;
    }
  }

  .top-picture {
    aspect-ratio: 240 / 137;
  }
}

.story {
  background-color: $primary;
  color: $secondary;
  font-size: clamp(24px, 5vw, 28px);
  padding: 10vmax 1.25rem;
  text-align: center;
  line-height: 32.81px;

  .story-text {
    max-width: 40ch;
    margin-inline: auto;
  }

  .btn-outline {
    margin: 3rem auto 0rem;
  }
}

.play {
  display: grid;
  grid-template-columns: 1fr;

  .play-picture {
    margin: 0 auto;

    img {
      @media screen and (max-width: 479px) {
        aspect-ratio: 16 / 10;
      }

      aspect-ratio: 32 / 23;
      max-width: 100%;
    }
  }

  .play-text {
    margin: 0 auto;
    max-width: 70ch;

    p {
      padding: 1.25rem;
      font-size: 24px;
    }

    .play-header {
      padding: 2rem 1.25rem 1rem;
      font-size: 32px;
      line-height: 37.5px;
      font-weight: 700;
    }
  }

  .btn-primary {
    margin-left: 1rem;
    margin-bottom: 4rem;
  }
}

footer {
  background-color: $primary;
  color: $secondary;
  font-size: 18px;

  .container {
    margin-top: 10vmax;
    padding: 10vmax 7% 12vmax;

    .footer-header {
      margin: 2rem 0px .5rem;
      font-weight: 700;
      font-size: inherit;
    }

    p {
      max-width: 75vw;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $accent3;
        }
      }
    }

    li:nth-of-type(3) {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    section:first-of-type {
      -webkit-box-flex: 2;
      -ms-flex: 2 0;
      flex: 2 0;
      margin-right: 30%;
    }

    section {
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0;
    }
  }

  .play {
    grid-template: repeat(2, 460px) / repeat(2, 640px);
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .play-text {
      padding: 2em;
    }

    .play-picture:nth-of-type(even) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
  }

  .top {
    display: grid;
    grid-template-areas:
      "header header"
      "button1 button2";

    .top-picture {
      grid-area: header;
      max-width: 1280px;
      margin: auto;
      aspect-ratio: 320 / 117;
    }

    .btn-secondary,
    .btn-primary {
      grid-area: button2;
      margin: 0 .5rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .btn-primary {
      justify-self: end;
      grid-area: button1;
    }
  }
}